@using System.Security.Claims
@using Microsoft.EntityFrameworkCore.Metadata.Internal


@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "User";
}

@if (TempData["data"] != null)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@TempData["data"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}
<div class="pd-ltr-20" style="background-color: #06163a">
    <div class="card-box pd-20 height-100-p mb-30">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="~/vendors/images/banner-img.png" alt="">
            </div> 
            <div class="col-md-8">
                <h4 class="font-20 weight-500 mb-10 text-capitalize">
                    Welcome back!<div class="weight-600 font-30 text-blue">@User.Identity?.Name</div>
                </h4>
                <p class="font-18 max-width-600">The Outstanding Innovation Begins Here...</p>
            </div>
        </div>
    </div>

    <div class="footer-wrap pd-20 mb-20 card-box">
        Inventory is Money, sitting around is another form...
    </div>

</div>

<!DOCTYPE html>
<html lang="en">

	<div>
	<head>
		<title>Bar Chart</title>
		
	</head>
	<body>
		<canvas id="barchart" height="5000" width="2000"></canvas>

	<script>
		var mn = @Html.Raw((Json.Serialize(ViewBag.SALESITEM)));
		var fn = @Html.Raw((Json.Serialize(ViewBag.CUSTOMERNUMBERS)));

		document.addEventListener("DOMContentLoaded", () => 
		{
			new Chart(document.querySelector('#barchart'), {
				type: 'bar',
				data: {
					labels: mn,
					datasets: [{
						label: 'Customers',
						data: fn,
						backgroundColor: [
						"rgba(255, 99, 132, 0.2)",
						"rgba(255, 159, 64, 0.2)",
						"rgba(255, 205, 86, 0.2)",
						"rgba(75, 192, 192, 0.2)",
						"rgba(54, 162, 235, 0.2)",
						"rgba(153, 102, 235, 0.2)",
						"rgba(201, 203, 207, 0.2)",
						],

						borderColor: [
						"rgba(255, 99, 132)",
						"rgba(255, 159, 64)",
						"rgba(255, 205, 86)",
						"rgba(75, 192, 192)",
						"rgba(54, 162, 235)",
						"rgba(153, 102, 235)",
						"rgba(201, 203, 207)",
						]
					}]
				}
			})
		})
		
		
	</script>
	<script>
		const cust = document.querySelector("#total-customers");
		const sales = document.querySelector("#all-sales");

		var totalCustomers = @ViewBag.CUSTOMERS;
		var totalSales = @ViewBag.SALES;

		window.onload = function(){
			cust.innerText = totalCustomers;
			sales.innerText = totalSales;
		}
	</script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
	<script src="/chart.js"></script>
	
	</body>
	</div>



    
</html>

	

<!-- js -->