

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Allocation details";
}

@model InventoryManagemenSystem_Ims.Entities.AllocateSalesItemToSalesManager


<div class="form-row">


        <div class="form-group col-sm-6">
            <div class="card" style="width: 18rem;">
                <img style="border-radius: 30%;" src="~/img/report2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b>Creation Time: </b><p>@Html.DisplayFor(data => data.DateCreated)</p>
                    <b>Subject: </b><p>@Html.DisplayFor(data => data.Item)</p>
                    <b>Report Status: </b><p>@Html.DisplayFor(data => data.QuantityAllocated)</p>
                    <b>Description: </b><p class="card-text">@Html.DisplayFor(data => data.StockKeeper)</p>
                    <b>Report Content: </b><p class="card-text">@Html.DisplayFor(data => data.SalesManager)</p>

                    <a style="background-color: tomato" asp-action="Index" asp-controller="AllocateSalesItem"
                    class="btn btn-primary">Return</a>
                </div>
            </div>
        </div>
</div>