@model IEnumerable<InventoryManagemenSystem_Ims.Entities.AllocateSalesItemToSalesManager>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Allocated Items";
}

@if (TempData["data"] != null)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@TempData["data"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<div class="card-header" style="background-color:midnightblue;">
    <div class="card-title">
        <h1 class="text-center">SalesItemAllocated</h1>
    </div>
</div>

<table class="bg-primary">
    <thead>
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.QuantityAllocated)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StockKeeper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>


        <th>
            Update
        </th>
        <th>
            Details
        </th>
        <th>
            Delete
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var allocatedItem in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => allocatedItem.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => allocatedItem.Item)
            </td>

            <td>
                @Html.DisplayFor(modelItem => allocatedItem.QuantityAllocated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => allocatedItem.StockKeeper)
            </td>

            <td>
                @Html.DisplayFor(modelItem => allocatedItem.SalesManager)
            </td>


            <td>
                @Html.DisplayFor(modelItem => allocatedItem.DateCreated)
            </td>

            @* <td> *@
            @*     <a asp-action="UpdateStock" asp-route-id="@allocatedItem.Id">Update</a> *@
            @* </td> *@
            @* <td> *@
            @*     <a asp-action="GetStock" asp-route-id="@allocatedItem.Id">Details</a> *@
            @* </td> *@
            @* <td> *@
            @*     <a asp-action="DeleteStock" asp-route-id="@allocatedItem.Id">Delete</a> *@
            @* </td> *@
        </tr>
        }
    </tbody>
</table>
<button style="background-color: midnightblue"><a asp-controller="AllocateSalesItem"  asp-action="AllocateItemsToSalesStore">Allocate</a> </button>

<button style="background-color: midnightblue"><a asp-controller="User"  asp-action="Index">Return to your Dashboard</a> </button>
