@* @using System.Security.Cryptography *@
@* @using System.Security.Principal *@
@* @using Google.Protobuf.WellKnownTypes *@
@* @model IEnumerable<InventoryManagemenSystem_Ims.Entities.SalesItem> *@
@* *@
@* @{ *@
@*     Layout = "~/Views/Shared/_UserLayout.cshtml"; *@
@*     ViewData["Title"] = "SalesItem"; *@
@* } *@
@* *@
@* <div class="card-header" style="background-color:midnightblue;"> *@
@*     <div class="card-title"> *@
@*         <h1 class="text-center">SalesItem</h1> *@
@*     </div> *@
@* </div> *@
@* *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Id) *@
@*             </th> *@
@* *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.SalesId) *@
@*             </th> *@
@* *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.TotalPrice) *@
@*             </th> *@
@*              *@
@* *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.DateCreated) *@
@*             </th> *@
@* *@
@* *@
@* *@
@*             <th> *@
@*                 Update *@
@*             </th> *@
@*             <th> *@
@*                 Details *@
@*             </th> *@
@*             <th> *@
@*                 Delete *@
@*             </th> *@
@*              *@
@*              *@
@* *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var salesItem in Model) *@
@*         { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => salesItem.Id) *@
@*             </td> *@
@* *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => salesItem.SalesId) *@
@*             </td> *@
@* *@
@*              *@
@*             *@
@* *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => salesItem.DateCreated) *@
@*             </td> *@
@* *@
@*             <td> *@
@*                 <a asp-action="UpdateStock" asp-route-id="@salesItem.Id">Update</a> *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="GetStock" asp-route-id="@salesItem.Id">Details</a> *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="DeleteStock" asp-route-id="@salesItem.Id">Delete</a> *@
@*             </td> *@
@*         </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@
@* *@
@* <button style="background-color: midnightblue"><a asp-controller="User"  asp-action="Index">Return to your Dashboard</a> </button> *@
@* <button style="background-color: midnightblue"><link rel="stylesheet" href="/bootstrap/js/bootstrap.js"> Generate Receipt</button>  *@
@* *@
@* $1$ #1# *@
@* $1$ <div class="container"> #1# *@
@* $1$     <div class="row"> #1# *@
@* $1$         <div class="col-md-6 offset-md-3 main"> #1# *@
@* $1$             <div class="col-md-12"> #1# *@
@* $1$                <div class="row"> #1# *@
@* $1$                     <div class="col-md-4"> #1# *@
@* $1$                         <img class="img-fluid" alt="Invoce Template" src="https://www.prepbootstrap.com/Content/images/template/productslider/product_004.jpg" /> #1# *@
@* $1$                     </div> #1# *@
@* $1$                     <div class="col-md-8 text-xs-right"> #1# *@
@* $1$                         <h4 style="color: #F81D2D;"><strong>Tesla Inventory</strong></h4> #1# *@
@* $1$                         <p>No 3, Gbonagun strt.,Unity Abk </p> #1# *@
@* $1$                         <p>+234 9014 698 926</p> #1# *@
@* $1$                         <p>Teslaims@gmail.com</p> #1# *@
@* $1$                     </div> #1# *@
@* $1$                 </div> #1# *@
@* $1$                 <br /> #1# *@
@* $1$                 <div class="row"> #1# *@
@* $1$                     <div class="col-md-12 text-xs-center"> #1# *@
@* $1$                         <h1>Invoice No.</h1> #1# *@
@* $1$                         <h2> #1# *@
@* $1$                             <b> #1# *@
@* $1$                             <script type="text/javascript" src="js/Main.js"> </script> #1# *@
@* $1$                             <div id="myInvoice"></div> #1# *@
@* $1$                             <p id="yourInvoice"></p> #1# *@
@* $1$                             </b> #1# *@
@* $1$                         </h2> #1# *@
@* $1$                     </div > #1# *@
@* $1$                 </div> #1# *@
@* $1$                 <br /> #1# *@
@* $1$                 <div> #1# *@
@* $1$                     <table class="table"> #1# *@
@* $1$                         <thead> #1# *@
@* $1$                             <tr> #1# *@
@* $1$                                 <th><h5>Description</h5></th> #1# *@
@* $1$                                 <th><h5>Amount</h5></th> #1# *@
@* $1$                             </tr> #1# *@
@* $1$                         </thead> #1# *@
@* $1$                         <tbody> #1# *@
@* $1$                             <tr> #1# *@
@* $1$                                 <td class="col-md-9">Apple iPhone 8 64 GB</td> #1# *@
@* $1$                                 <td class="col-md-3"><i class="fa fa-usd" aria-hidden="true"></i> 759,00 </td> #1# *@
@* $1$                             </tr> #1# *@
@* $1$                             <tr> #1# *@
@* $1$                                 <td class="col-md-9">Apple iPhone 7 Plus 128 GB</td> #1# *@
@* $1$                                 <td class="col-md-3"><i class="fa fa-usd" aria-hidden="true"></i> 1023,00 </td> #1# *@
@* $1$                             </tr> #1# *@
@* $1$                             <tr> #1# *@
@* $1$                                 <td class="col-md-9">Apple iPhone 6s Plus 16GB</td> #1# *@
@* $1$                                 <td class="col-md-3"><i class="fa fa-usd" aria-hidden="true"></i> 595,00 </td> #1# *@
@* $1$                             </tr> #1# *@
@* $1$                             <tr> #1# *@
@* $1$                                 <td class="col-md-9">Apple iPhone 6s Plus 64 GB</td> #1# *@
@* $1$                                 <td class="col-md-3"><i class="fa fa-usd" aria-hidden="true"></i> 1052,00 </td> #1# *@
@* $1$                             </tr> #1# *@
@* $1$                             <tr> #1# *@
@* $1$                                 <td class="text-xs-right"> #1# *@
@* $1$                                 <p> #1# *@
@* $1$                                     <strong>Total Amount: </strong> #1# *@
@* $1$                                 </p> #1# *@
@* $1$                                 <p> #1# *@
@* $1$                                     <strong>Late Fees: </strong> #1# *@
@* $1$                                 </p> #1# *@
@* $1$ 							    <p> #1# *@
@* $1$                                     <strong>Payable Amount: </strong> #1# *@
@* $1$                                 </p> #1# *@
@* $1$ 							    <p> #1# *@
@* $1$                                     <strong>Balance Due: </strong> #1# *@
@* $1$                                 </p> #1# *@
@* $1$ 							    </td> #1# *@
@* $1$                                 <td> #1# *@
@* $1$                                 <p> #1# *@
@* $1$                                     <strong><i class="fa fa-usd" aria-hidden="true"></i> 2569,00 </strong> #1# *@
@* $1$                                 </p> #1# *@
@* $1$                                 <p> #1# *@
@* $1$                                     <strong><i class="fa fa-usd" aria-hidden="true"></i> 700,00</strong> #1# *@
@* $1$                                 </p> #1# *@
@* $1$ 							    <p> #1# *@
@* $1$                                     <strong><i class="fa fa-usd" aria-hidden="true"></i> 159,00 </strong> #1# *@
@* $1$                                 </p> #1# *@
@* $1$ 							    <p> #1# *@
@* $1$                                     <strong><i class="fa fa-usd" aria-hidden="true"></i> 5010,00 </strong> #1# *@
@* $1$                                 </p> #1# *@
@* $1$ 							    </td> #1# *@
@* $1$                             </tr> #1# *@
@* $1$                             <tr style="color: #F81D2D;"> #1# *@
@* $1$                                 <td class="text-xs-right"><h4><strong>Total:</strong></h4></td> #1# *@
@* $1$                                 <td class="text-xs-left"><h4><strong><i class="fa fa-usd" aria-hidden="true"></i> 2365,00 </strong></h4></td> #1# *@
@* $1$                             </tr> #1# *@
@* $1$                         </tbody> #1# *@
@* $1$                     </table> #1# *@
@* $1$                 </div> #1# *@
@* $1$                 <div> #1# *@
@* $1$                     <div class="col-md-12"> #1# *@
@* $1$                         <p><b>Date :</b> 28 June 2017</p> #1# *@
@* $1$                         <br /> #1# *@
@* $1$                         <p><b>Signature</b></p> #1# *@
@* $1$                     </div> #1# *@
@* $1$                 </div> #1# *@
@* $1$             </div> #1# *@
@* $1$         </div> #1# *@
@* $1$     </div> #1# *@
@* $1$ </div> #1# *@
@* $1$ #1# *@
@* $1$ <style> #1# *@
@* $1$     .main { #1# *@
@* $1$         background: #ffffff; #1# *@
@* $1$         border-bottom: 15px solid #F81D2D; #1# *@
@* $1$         border-top: 15px solid #1E1F23; #1# *@
@* $1$         margin-top: 30px; #1# *@
@* $1$         margin-bottom: 30px; #1# *@
@* $1$         padding: 40px 30px !important; #1# *@
@* $1$         position: relative; #1# *@
@* $1$         box-shadow: 0 1px 21px #808080; #1# *@
@* $1$         font-size:10px; #1# *@
@* $1$     } #1# *@
@* $1$ #1# *@
@* $1$     .main thead { #1# *@
@* $1$ 		background: #1E1F23; #1# *@
@* $1$         color: #fff; #1# *@
@* $1$ 		} #1# *@
@* $1$ </style> #1# *@
