@model IEnumerable<InventoryManagemenSystem_Ims.Entities.StockItem>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "stock";
}

<div class="card-header" style="background-color:midnightblue;">
    <div class="card-title">
        <h1 class="text-center">StockItem</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            

            
            <th>
                Details
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var stockItem in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => stockItem.Id)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => stockItem.Item)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => stockItem.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => stockItem.PricePerUnit)
            </td>
            <th>
                @Html.DisplayFor(modelItem => stockItem.Quantity)
            </th>
            <th>
                @Html.DisplayFor(modelItem => stockItem.TotalPrice)
            </th> 
            
            <th>
                @Html.DisplayFor(modelItem => stockItem.Expenses)
            </th>
            
            <td>
                @Html.DisplayFor(modelItem => stockItem.DateCreated)
            </td>
            
            @* <td> *@
            @*     <a asp-action="UpdateStockItem" asp-route-id="@stockItem.Id">Update</a> *@
            @* </td> *@
            <td>
                <a asp-action="GetStockItem" asp-route-id="@stockItem.Id">Details</a>
            </td>
            @* <td> *@
            @*     <a asp-action="DeleteStockItem" asp-route-id="@stockItem.Id">Delete</a> *@
            @* </td> *@
        </tr>
        }
    </tbody>
</table>
<button style="background-color: midnightblue"><a asp-controller="Stock"  asp-action="AddItemToStock">Add to Stock</a> </button>

<button style="background-color: midnightblue"><a asp-controller="User"  asp-action="StockKeeperIndex">Return to your Dashboard</a> </button>
