

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Notification";
}

@* @if (TempData["data"] != null) *@
@* { *@
@* 	<div class="alert alert-warning alert-dismissible fade show" role="alert"> *@
@* 		<strong>@TempData["data"]</strong> *@
@* 		<button type="button" class="close" data-dismiss="alert" aria-label="Close"> *@
@* 			<span aria-hidden="true">&times;</span> *@
@* 		</button> *@
@* 	</div> *@
@* } *@

@model IEnumerable<InventoryManagemenSystem_Ims.Entities.Notification>


<div class="form-row">
    @foreach (var notification in Model)
    {
        <div class="form-group col-sm-6">
            <div class="card" style="width: 18rem;">
                <img style="border-radius: 30%;" src="~/img/report2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <b>You've an allocation message(s). Kindly confirm or reject the allocation status... </b>
                    <b>Creation Time: </b>
                    <p>@Html.DisplayFor(data => notification.DateCreated)</p>
                    <b>Notification: </b>
                    <p>@Html.DisplayFor(data => notification.AllocateSalesItemToSalesManager)</p>
                    @* <a style="background-color: yellowgreen;" asp-action="UpdateNotificationToConfirmed" asp-controller="Notification" asp-route-id="@notification.Id" *@
                    @*    class="btn btn-primary">Confirm</a> *@
                    @* <a style="background-color: yellowgreen;" asp-action="UpdateNotificationToRejected" asp-controller="Notification" asp-route-id="@notification.Id" *@
                    @*    class="btn btn-primary">Reject</a> *@
                    <a style="background-color: tomato" asp-action="Index" asp-controller="AllocateSalesItem"
                       class="btn btn-primary">Return</a>
                </div>
            </div>
        </div>
    }
</div>