@model IEnumerable<InventoryManagemenSystem_Ims.Entities.Sales>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Sales";
}

<div class="card-header" style="background-color:midnightblue;">
    <div class="card-title">
        <h1 class="text-center">Sales</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SalesManager)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            


            <th>
                Update
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
            <th>
                Return Goods
            </th>
            <th>
                Generate Invoice
            </th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var sales in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => sales.Id)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => sales.Customer)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => sales.SalesManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => sales.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => sales.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => sales.PricePerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => sales.Quantity)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => sales.DateCreated)
            </td>
            
            <td>
                <a asp-action="ReturnGoods" asp-route-id="@sales.Id">Return</a>
            </td>
            <td>
                <a asp-action="GenerateInvoice" asp-route-id="@sales.Id">Generate Invoice</a>
            </td>
            
        </tr>
        }
    </tbody>
</table>
<button style="background-color: midnightblue"><a asp-controller="Sales"  asp-action="StartSales">Create Sales</a> </button>
<button style="background-color: midnightblue"><a asp-controller="Sales"  asp-action="ReturnGoods">Return Goods</a> </button>
<button style="background-color: midnightblue"><a asp-controller="User"  asp-action="Index">Return to your Dashboard</a> </button>
