


@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Verified Reports";
}

@model InventoryManagemenSystem_Ims.Entities.Report


<div class="form-row">
    
        <div class="form-group col-sm-6">
            <div class="card" style="width: 18rem;">
                <img style="border-radius: 30%;" src="~/img/report2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b>Creation Time: </b><p>@Html.DisplayFor(data => Model.DateCreated)</p>
                    <b>Subject: </b><p>@Html.DisplayFor(data => Model.Subject)</p>
                    <b>Report Status: </b><p>@Html.DisplayFor(data => Model.ReportStatus)</p>
                    <b>Description: </b><p class="card-text">@Html.DisplayFor(data => Model.Description)</p>
                    <b>Report Content: </b><p class="card-text">@Html.DisplayFor(data => Model.SalesManagerReport)</p>
                    <a style="background-color: yellowgreen;" asp-action="DeleteReport"
                    class="btn btn-primary">Delete</a>
                    <a style="background-color: tomato;"
                    class="btn btn-primary">Return</a>
                </div>
            </div>
        </div>
    
</div>