

@{
    Layout = null;
}

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Approved Reports";
}

@model IEnumerable<InventoryManagemenSystem_Ims.DTOs.ReportDto>


<div class="form-row">
    @foreach (var report in Model)
    {
        <div class="form-group col-sm-6">
            <div class="card" style="width: 18rem;">
                <img style="border-radius: 30%;" src="~/img/report2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b>Creation Time: </b><p>@Html.DisplayFor(data => report.DateCreated)</p>
                    <b>Report Status: </b><p>@Html.DisplayFor(data => report.ReportStatus)</p>
                    <b>Description: </b><p class="card-text">@Html.DisplayFor(data => report.Description)</p>
                    <b>StockKeeper's Report: </b><p class="card-text">@Html.DisplayFor(data => report.StockKeeperReport)</p>
                    <b>SalesManager's Report: </b><p class="card-text">@Html.DisplayFor(data => report.SalesManagerReport)</p>
                    <a style="background-color: mediumseagreen;" asp-action="UpdateReportToVerified" asp-controller="ShopManager" asp-route-id="@report.Id"
                    class="btn btn-primary">Verify</a>
                    <a style="background-color: yellowgreen;" asp-action="UpdateReportToApproved" asp-controller="ShopManager" asp-route-id="@report.Id"
                    class="btn btn-primary">Approved</a>
                    <a style="background-color: tomato;"
                    class="btn btn-primary">Return</a>
                </div>
            </div>
        </div>
    }
</div>